.dropzone {
  border: 2px dashed #a5b2c3;
  border-radius: 5px;
  margin-bottom: 25px;
  overflow: hidden;
  .dz-message {
    margin: 70px auto 25px auto;
    @include font-style(25px, #646C7F, 600);
    position: relative;
    font-size: 18px;
    &:before {
      $width: 70px;
      @include size(70px, 100%);
      content: " ";
      background: url(/images/icons/cloud-upload.png) no-repeat;
      @include position(left, 50%, top, -60px);
      margin-left: -($width / 2);
    }
    &:after {
      content: "Max allowed file size 1 MB";
      display: block;
      @include font-style(13px, #646C7F);
      margin-top: 3px;
    }
  }
}
