.projects-list {
  &__row {
    position: relative;
    @include spaces(10px 15px, 0 0 4px 0);
    background-color: white;
    @include border(#eaeaea);
    display: block;
    border-radius: 5px;
    @include transition(all 0.3s ease-out);
    &:hover {
      text-decoration: none;
      background-color: #eaeaea;
    }
    .projects-list__body {
      & > a {
        text-decoration: none;
      }
      .title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 8px;
        @include font-style(12px, $grey-dark);
      }
      .creation-date {
        @include font-style(12px, $grey-light);
        text-transform: uppercase;
        margin-top: 0;
      }
      .videos-number {
        @include font-style(12px, $coloured, 500);
        text-transform: uppercase;
      }
    }
    .projects-list__buttons {
      @include position(right, 22px, top, 22px);
    }
  }
}
