.search-form {
  @include spaces(0, 0 0 25px 0);
  .input-group {
    border-radius: 100px;
    @include box-shadow(0 0 0 1px #dee1e5);
    padding: 10px 20px;
    .input-group-btn {
      .btn {
        // @include font-style(16px, #E3E3E3);
        @include font-style(16px, black);
        background-color: transparent;
      }
    }
    .form-control {
      border: none;
      @include box-shadow(none);
      background-color: transparent;
    }
  }
}
