.intro-section {
  padding-bottom: 30px;
  @include respond-to(min-width, 768px) {
    max-height: 1100px;
    padding-bottom: 0;
  }
  &__buttons {
    .btn {
      font-size: 15px;
    }
    .btn-lg {
      @include respond-to(max-width, 767px) {
        min-width: auto;
      }
    }
  }
  &__logo {
    max-width: 200px;
    @include respond-to(min-width, 768px) {
      min-width: 370px;
    }
  }
  &__title {
    line-height: 44px;
  }
}
