<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Videosync!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- empty script needed to allows plyr.js to work correctly -->
    <script></script>
  </head>

  <body id="app" class="edit-layout">
    <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
    <!-- <script src="https://player.vimeo.com/api/player.js"></script> -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
