<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Zinkroo watch video</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/watch.css") %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
    <!-- empty script needed to allows plyr.js to work correctly -->
    <script></script>
  </head>

  <body id="watch-video">
    <div class="container-fluid zinkroo">
      <%= render @view_module, @view_template, assigns %>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/watch.js") %>"></script>
  </body>
</html>
