@import "./mixin/custom-mixin";
@import "./partials/widgets/spaces";
@import "./partials/plugins/customized-reveal";

.plyr {
  min-width: 0;
}

.bg-grey {
  background-color: #f2f2f2;
}

.zinkroo {
  &__title {
    font-family: 'Roboto Slab', serif;
    color: #629ef4;
  }
  &__date {
    color: #999;
    font-size: 12px;
    font-weight: 300;
    display: block;
  }
  &__description {
    color: #606060;
    font-size: 13px;
  }
  &__slide {
    padding: 10px;
    background-color: #f2f2f2;
    @include respond-to(min-width, 768px) {
      padding: 10px 30px;
    }
    .owl-item {
      line-height: normal;
      .img-thumbnail {
        border-radius: 0;
      }
    }
  }
}

.owl {
  &-theme {}
  &-controls {
    margin: 0 !important;
  }
  &-buttons {
    .owl-prev, .owl-next {
      padding: 0 !important;
      border-radius: 0;
      margin-bottom: 0 !important;
      background-color: transparent !important;
      color: #c6c6c6 !important;
      font-size: 18px !important;
      @include respond-to(min-width, 768px) {
        position: absolute;
        padding: 0 !important;
        margin: -12px 0 0 0 !important;
        top: 50%;
      }
    }
  }
  &-prev {
    left: -20px;
    i, .fa {
      color: #629ef4;
      text-shadow: 1px 2px 3px #666;
    }
  }
  &-next {
    right: -20px;
    i, .fa {
      color: #629ef4;
      text-shadow: 1px 2px 3px #666;
    }
  }
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2,
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3,
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4,
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7,
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9,
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12,
.col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}
