$mainColor: #629ef4;
$minWidthPage: 970px;

$grid-float-breakpoint: 0;
$screen-xs-max: 0;

// Font color
$coloured: $mainColor;
$grey-light: #a5a6a1;
$grey-dark: #8b8c88;
$grey-superdark: #424856;


// Background color
$dark: #2b415d;
$light: #456894;

// Video edit Sidebar
$sidebar-video-edit-width: 400px;

$body-bg: #fafbfd;
