.projects-list {
  &__row {
    @include respond-to(min-width, 1920px) {
      height: 56px;
    }
    @include respond-to(min-width, 970px) {
      &:before {
        content: "";
        display: inline-block;
        background: url("/images/icons/folder.svg") 0 0 no-repeat;
        @include size(32px, 32px);
        @include position(left, 12px, top, 12px);
      }
    }
    position: relative;
    @include spaces(0, 0 0 15px 0);
    background-color: white;
    @include box-shadow(0px 0px 10px #dfe4ee);
    display: block;
    border-radius: 5px;
    @include transition(all 0.3s ease-out);
    &:hover {
      text-decoration: none;
    }
    .projects-list__body {
      @include respond-to(min-width, 970px) {
        margin-left: 50px;
      }
      padding: 12px;
      display: inline-block;
      @include size(100%, 100%);
      &:hover {
        text-decoration: none;
      }
      &.status {
        margin-left: 0;
      }
      & > .input-group {
        margin-top: 0px;
        .form-control {
          @include box-shadow(none);
          border-color: $mainColor;
          border-right: 0;
          &:focus {
            border-color: $mainColor;
          }
        }
        .input-group-addon {
          background-color: white;
          border-color: $mainColor;
          @include box-shadow(none);
          .fa, i, span {
            font-size: 16px;
            color: #d2dfe9;
            @include transition(color 0.3s ease-out);
            &:hover {
              cursor: pointer;
              color: $mainColor;
            }
          }
        }
      }
      & > a {
        text-decoration: none;
      }
      .title {
        @include font-style(12px, $grey-superdark, 400, 12px);
        text-transform: uppercase;
        margin: 0 0 5px 0;
        @include respond-to(min-width, 1920px) {
          margin: 11px 50px 0px 0px;
          float: left;
          width: 150px;
        }
      }
      .creation-date {
        @include font-style(12px, $grey-light, 300, 12px);
        text-transform: uppercase;
        @include respond-to(min-width, 1200px) {
          margin: 11px 20px 0px 0px;
          float: left;
        }
      }
      .videos-number {
        @include font-style(12px, $coloured, 500, 12px);
        text-transform: uppercase;
        @include respond-to(min-width, 1200px) {
          margin: 11px 20px 0px 0px;
          float: left;
        }
      }
    }
    .projects-list__buttons {
      @include position(right, 12px, top, 12px);
      .btn {
        margin-left: 10px;
        &.btn-square {
          @include size(32px, 32px);
          line-height: 32px;
        }
      }
    }
  }
}
