.projects-list {
  &__row {
    height: 89px;
    position: relative;
    @include spaces(10px 15px, 0 0 4px 0);
    background-color: white;
    @include border(#eaeaea);
    display: block;
    border-radius: 5px;
    @include transition(all 0.3s ease-out);
    &:hover {
      background-color: #eaeaea;
      text-decoration: none;
    }
    .projects-list__body {
      display: block;
      &:hover {
        text-decoration: none;
      }
      & > .input-group {
        margin-top: 16px;
        .form-control {
          @include box-shadow(none);
          border-color: $mainColor;
          border-right: 0;
          &:focus {
            border-color: $mainColor;
          }
        }
        .input-group-addon {
          background-color: white;
          border-color: $mainColor;
          // @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
          @include box-shadow(none);
          .fa, i, span {
            font-size: 20px;
            color: #2b415d;
            @include transition(color 0.3s ease-out);
            text-shadow: 1px 1px 1px #424856;
            &:hover {
              color: $mainColor;
            }
          }
        }
      }
      & > a {
        text-decoration: none;
      }
      .title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 8px;
        @include font-style(12px, $grey-dark);
      }
      .creation-date {
        @include font-style(12px, $grey-light);
        text-transform: uppercase;
        margin-top: 0;
      }
      .videos-number {
        @include font-style(12px, $coloured, 500);
        text-transform: uppercase;
      }
    }
    .projects-list__buttons {
      @include position(right, 22px, top, 22px);
    }
  }
}
