.btn {
  border-radius: 5px;
  position: relative;
  @include font-style(13px, white, bold);
  text-transform: uppercase;
  border: 0;
  @include box-shadow(0px 0px 6px #d5d5d5);
  @include transition(all 0.2s ease);
  /* Buttons generator */
  @each $btn, $bg-color, $bg-color-hover, $text-color  in
                (none, transparent, transparent, black),
                (default, #ffffff, #ffffff, #d2dfe9),
                (success, #bcd454, #a5c53f, #ffffff),
                (primary, #aac7f2, #8eb7f2, #ffffff),
                (danger, #fac851, #f0b14d, #ffffff),
                (warning, #ece96b, #e6d14e, #ffffff) {
    &-#{$btn} {
      background-color: $bg-color !important;
      &:after {
        content: "";
        @include position(left, 0, top, 0);
        right: 0;
        bottom: 0;
        border-radius: 5px;
        @include box-shadow(inset 0 -2px rgba(0,0,0,.25));
      }
      /* Delete default internal box-shadow on btn-none and btn-default */
      @if ($btn == 'none') {
        @include box-shadow(none);
        &:hover, &:focus, &:active {
          @include box-shadow(none);
        }
        &:after {
          @include box-shadow(none);
        }
      } @else if ($btn == 'default') {
        &.active {
          @include box-shadow(0px 0px 6px #d5d5d5);
          .fa, i, span {
            color: $mainColor;
          }
        }
        &:after {
          @include box-shadow(none);
        }
      }
      /* end if */
      .fa {
        @include transition(all 0.2s ease);
        color: $text-color;
      }
      &:hover, &:focus, &:active {
        background-color: $bg-color-hover !important;
        /* Set different color on btn-default */
        @if ($btn == 'default') {
          .fa {
            color: $mainColor;
          }
        } @else {
          .fa {
            color: $text-color;
          }
        }
        /* end if */
      }
    }
  }
  /* end each */
  &-square {
    @include size(40px, 40px);
    line-height: 40px;
    padding: 0;
    .fa, i, span {
      font-size: 16px;
    }
    &--32 {
      @include size(32px, 32px);
      line-height: 32px;
    }
  }
  &-rectangular {
    min-width: 100px;
  }
  &-md {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
  }
  &-lg {
    min-width: 180px;
    font-size: 15px;
  }
  &-space--left-5 {
    margin-left: 5px;
  }
  &-space--left-10 {
    margin-left: 10px;
  }
  &.icon--left, &.icon--right {
    padding: 0;
    border: none !important;
    i {
      padding: 15px;
      background-color: #dee1e5;
      &::before {
        text-shadow: 0px 2px 3px #ccc;
      }
    }
    span {
      padding: 10px;
      min-width: 160px;
      display: inline-block;
    }
  }
  &.icon-inside--left {
    i {
      margin-right: 10px;
    }
  }
  &.icon-inside--right {
    i {
      margin-left: 10px;
    }
  }
}
