.light-form {
  a{
    color: $mainColor;
    -webkit-font-smoothing: antialiased;
  }
  .form-group {
    label {
      @include font-style(12px, #888888);
    }
    &.has-error {
      .form-control {
        @include border(#FB404B);
      }
      .error-label {
        @include font-style(12px, #FB404B);
        margin: 5px 0 0;
      }
    }
  }
  .form-control {
    @include border(#E3E3E3);
    background-color: white;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    @include box-shadow(none);
    @include placeholder(#E3E3E3);
    -webkit-font-smoothing: antialiased;
    &:focus, &:hover {
      @include border(#AAAAAA);
    }
  }
  textarea {
    min-height: 200px;
  }
  .input-group {
    // @include border(#E3E3E3);
    @include border(#e6e6e6);
    @include transition(all 0.3s ease-out);
    border-radius: 4px;
    &-addon {
      border: none;
      background-color: white;
      .fa {
        color: #e4e4e4
      }
    }
    .form-control {
      border: none;
    }
    &:focus, &:hover {
      @include border(#cdcdcd);
    }
  }
}
