.mgv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mgv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mgv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mgv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mgv25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mgv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mgt30 {
  margin-top: 30px;
}

.mgb25 {
  margin-bottom: 25px;
}

.mgb30 {
  margin-bottom: 30px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0;
}
