.weight-thin {
  font-weight: 100;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-strong {
  font-weight: 700;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-dark--grey {
  color: #313131 !important;
}
