.placeholder {
  background-color: #ababab;
  position: relative;
  a {
    display: block;
  }
  // &__text {
  //   text-align: center;
  //   @include position(left, 155px, bottom, 60px);
  //   @include font-style(15px, white);
  //   text-transform: uppercase;
  // }
}

.slidesheet {
  @include border(#69c0af, 3px, nil, dashed);
  @include spaces(20px, 30px 0);
  background-color: white;
  .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}
