.noUi {
  &-horizontal {
    .noUi-handle {
      width: 10px;
      left: -5px;
      &:before {
        left: 2px;
      }
      &:after {
        left: 5px;
      }
    }
  }
  &-origin {
    &:not([disabled="true"]) {
      .noUi-handle {
        border-color: red;
      }
    }
    // &[disabled="true"] {
    //   .noUi-handle {
    //     border-color: red;
    //   }
    // }
  }
  &-connect {
    background-color: $mainColor;
  }
  &-value {
    margin-top: 10px;
    color: #828282;
  }
  &-marker {
    background: #2b2e33;
  }
}

#slider {
  margin-bottom: 90px;
}
