.noUi {
  &-origin {
    &[disabled="true"] {
      .noUi-handle {
        width: 10px;
        left: -5px;
        &:before {
          left: 2px;
        }
        &:after {
          left: 5px;
        }
      }
    }
    &:not([disabled="true"]) {
      .noUi-handle {
        @include box-shadow(2px 2px 3px #424856);
      }
    }
  }
  &-connect {
    background-color: $mainColor;
  }
  &-value {
    margin-top: 10px;
    @include font-style(11px, black, 400, 30px);
    @include size(30px, 30px);
    background-color: white;
    border-radius: 3px;
    @include border(#D9D9D9);
  }
  &-marker {
    // background: #2b2e33;
    background-color: #3e4358;
  }
  &-tooltip {
    font-size: 11px;
  }
}
