.noUi {
  &-origin {
    &[disabled="true"] {
      .noUi-handle {
        width: 10px;
        left: -5px;
        &:before {
          left: 2px;
        }
        &:after {
          left: 5px;
        }
      }
    }
    &:not([disabled="true"]) {
      .noUi-handle {
        @include box-shadow(2px 2px 3px #424856);
      }
    }
  }
  &-connect {
    background-color: $mainColor;
  }
  &-value {
    margin-top: 10px;
    color: #828282;
  }
  &-marker {
    background: #2b2e33;
  }
}

#slider {
  margin-bottom: 90px;
}
