.placeholderSlide {
  @include border(#dce0e6);
  background-color: white;
  position: relative;
  text-align: center;
  overflow: hidden;
  &__clickable-area {
    display: block;
    @include position(left, 0, top, 0);
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  &__content {
    padding-top: 50%;
    @include translate("nil", -50%);
    &--image {
      margin: 0 auto;
      @include size(100%, auto);
      &.icon {
        @include size(80px, auto);
      }
      @include respond-to(max-width, 1500px) {
        display: none;
      }
    }
    &--text {
      margin-top: 20px;
      @include respond-to(min-width, 1200px) {
        margin-top: 30px;
      }
      & > p {
        @include font-style(15px, #646C7F, 400);
        @include respond-to(min-width, 1200px) {
          line-height: 32px;
        }
      }
    }
  }
  &.ex-over {
    border: 1px dashed $mainColor;
  }
}



// .placeholderSlide {
//   @include border(#dce0e6);
//   background-color: white;
//   position: relative;
//   text-align: center;
//   height: 400px;
//   & > a {
//     display: block;
//     //background: url("/images/slide-placeholder.png");
//     // &:before {
//     //   $width: 70px;
//     //   $height: 70px;
//     //   @include size($height, 70px);
//     //   content: " ";
//     //   background: url(/images/icons/download.png) no-repeat;
//     //   background-size: contain;
//     //   @include position(left, 50%, top, 50%);
//     //   margin-left: -($width / 2);
//     //   margin-top: -90px;
//     // }
//     // &:after {
//     //   content: "Max allowed file size 1 MB";
//     //   display: block;
//     //   @include font-style(13px, #646C7F);
//     //   margin-top: 3px;
//     // }
//   }
//   img {
//     margin: 0 auto;
//     width: 100%;
//   }
//   &__text {
//     @include position(left, 50%, top, 50%);
//     margin-top: 6em;
//     @include translate(-50%, -50%);
//     & > p {
//       margin-bottom: 15px;
//       @include font-style(1.3em, #646C7F, 400);
//       //@include font-style(110%, #646C7F, 400);
//     }
//   }
//   &.ex-over {
//     border: 1px dashed $mainColor;
//   }
// }
