.projects-list {
  background-color: #ffffff;
  @include box-shadow(0 0 0 1px #dee1e5);
  li {
    padding: 15px;
  }
  li:nth-child(odd) {
    //background-color: #f9f9fb;
    @include transition(all 0.3s ease-out);
    // &:hover {
    //   background-color: darken(#f9f9fb, 5%);
    // }
  }
  li:nth-child(even) {
    //background-color: #ffffff;
    // &:hover {
    //   background-color: darken(#ffffff, 5%);
    // }
  }
  &__content {
    display: block;
    color: #313131;
  }
  &__content:hover {
    color: #313131;
    text-decoration: none;
  }
  &__body {
    margin-left: 35px;
  }
  &__title {
    @include font-style(16px, $mainColor);
    margin-top: 0;
    text-transform: uppercase;
  }
  &__description {
    color: black;
  }
  &__date {
    color: #828282;
    font-weight: normal;
  }
  &__buttons {
    text-align: right;
    a, button {
      .fa {
        margin-right: 10px;
      }
    }
  }
}
