.projects-list {
  background-color: #ffffff;
  @include box-shadow(0 0 0 1px #dee1e5);
  // padding: 15px 15px 0 15px;
  li {
    // padding-bottom: 15px;
    padding: 15px;
    &:hover {
      background-color: #f7f7f7;
      .magic {
        &-checkbox {
          & + label:before {
            background-color: white;
          }
        }
        &-radio {
          & + label:before {
            background-color: white;
          }
        }
      }
    }
  }
  &__content {
    display: block;
    color: #313131;
    &:hover {
      color: #313131;
      text-decoration: none;
      @include respond-to(min-width, 768px) {
        .projects-list__buttons {
          visibility: visible;
        }
      }
    }
    @include respond-to(min-width, 768px) {
      .magic {
        &-checkbox {
          // & + label:hover {
          //   .magic-checkbox + label::before {
          //     @include border(1px, red);
          //   }
          // }
          & + label:before {
            margin-top: 12px;
          }
          & + label:after {
            top: 18px;
            background: $mainColor;
          }
          &:checked {
            & + label:before {
              @include border(1px, $mainColor);
            }
          }
        }
        &-radio {
          // & + label:hover {
          //   .magic-radio+label:before {
          //     @include border(1px, red);
          //   }
          // }
          & + label:before {
            margin-top: 12px;
          }
          & + label:after {
            top: 18px;
            background: $mainColor;
          }
          &:checked {
            & + label:before {
              @include border(1px, $mainColor);
            }
          }
        }
      }
    }
  }
  &__body {
    margin-left: 35px;
  }
  &__title {
    @include font-style(16px, #2b2e33);
    margin: 0 0 15px 0;
    text-transform: uppercase;
    @include respond-to(min-width, 768px) {
      float: left;
      margin: 13px 0 0 0;
    }
  }
  &__description {
    color: black;
  }
  &__date {
    color: #828282;
    font-weight: normal;
  }
  &__buttons {
    @include respond-to(min-width, 768px) {
      float: right;
      visibility: hidden;
    }
    .btn {
      font-size: 15px;
    }
    a, button {
      @include respond-to(min-width, 768px) {
        overflow: hidden;
        @include transition(width 0.3s ease-out);
        &:hover {
          overflow: auto;
          width: 202px;
        }
      }
      width: 42px;
      margin-right: 7px;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
      i {
        @include transition(background 0.3s ease-out);
        color: white;
        width: 42px;
      }
      @include respond-to(max-width, 767px) {
        &:hover i {
          background: darken(#dee1e5, 10%);
        }
        span {
          display: none !important;
        }
      }
    }
  }
}
