#sidebar-video-edit {
  // @include position(right, 0, top, 129px, fixed);
  // z-index: 999;
  // width: $sidebar-video-edit-width;
  height: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  // padding-bottom: 70px;
  background-color: #f9f9f9;
  @include border(#dce0e6, 1px, left);
  // @include respond-to(max-width, 970px) {
  //   width: ($sidebar-video-edit-width - 100px);
  // }
  @include respond-to(min-width, 971px) {
    padding-bottom: 70px;
    @include position(right, 0, top, 103px, fixed);
    z-index: 999;
    width: $sidebar-video-edit-width;
  }
  .nav-tabs {
    border: 0;
    li {
      &[class^="col"] {
        padding: 0;
      }
      &:first-child {
        a {
          border-left: 0;
        }
      }
      a {
        @each $icon, $x, $y  in
                      (info, 0px, 21px),
                      (layout, 42px, 21px),
                      (library, 21px, 21px) {
          &.#{$icon} {
            &:before {
              @include respond-to(min-width, 971px) {
                @include position(left, 15px, top, 12px);
                content: "";
                background: url(/images/icons/sprites.png);
                background-position: $x $y;
                display: inline-block;
                @include size(21px, 21px);
              }
            }
          }
        }
        border-radius: 0;
        margin-right: 0;
        position: relative;
        @include border(#c0c5c9);
        border-right: 0;
        border-top: 0;
        background-color: #d5d8dc;
        text-decoration: none;
        text-transform: uppercase;
        min-height: 38px;
        padding: 14px;
        @include font-style(12px, #93989a, 500);
        @include respond-to(min-width, 971px) {
          padding: 14px 14px 14px 45px;
        }
      }
      &.active {
        a {
          @each $icon, $x, $y  in
                        (info, 0px, 0px),
                        (layout, 42px, 0px),
                        (library, 21px, 0px) {
            &.#{$icon} {
              &:before {
                background-position: $x $y;
              }
            }
          }
          background-color: transparent;
          color: #424856;
          border: 0;
        }
      }
    }
  }
  .tab-content {
    height: 100%;
    overflow: scroll;
    @include transition(overflow 0.3s ease);
    @include spaces(15px 15px 0px 15px, 0);
    @include respond-to(min-width, 971px) {
      padding-bottom: 110px;
    }
  }
}

.theme-layout {
  cursor: pointer;
  &.active {
    @include box-shadow(0 6px 10px rgba(0,0,0,.35));
  }
  &.panel {
    @include transition(all 0.3s ease);
    &:hover {
      @include box-shadow(0 6px 10px rgba(0,0,0,.35));
    }
    .panel-body {
      & > div {
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-left: 7px;
        }
      }
      .panel-body__col {
        background-color: #e0e0e0;
        padding: 10px 15px;
        span {
          background-color: #d3d3d3;
          border: 2px dashed #c3c3c3;
          padding: 15px;
          width: 100%;
          display: block;
        }
      }
    }
  }
}
