.slidesheet {
  &.slidesheet-height {
    min-height: 285px;
    @include respond-to(min-width, $screen-md-min) {
      min-height: 435px;
    }
  }
  @include spaces(0, 0 0 0);
  .row {
    margin-left: -5px;
    margin-right: -5px;
    & > div[class^="col"] {
      padding: 0 5px;
      @include transition(width 0.3s ease);
      @include respond-to(min-width, 1000px, max-width, 1450px) {
        width: 16.66667%;
      }
    }
  }
  .img-thumbnail {
    @include size(100%, auto);
    overflow: hidden;
    @include border(1px, #D4D4D4);
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 0;
    position: relative;
    & > a {
      display: block;
      cursor: pointer;
      @include size(100%, 100%);
      img {
        @include size(100%, auto);
      }
    }
    &.active, &:hover {
      @include border($mainColor, 2px);
      @include box-shadow(1px 2px 10px #000);
    }
    .bookmark-time {
      @include position(left, 0, bottom, 0);
      right: 0;
      background-color: rgba(43, 65, 93, 0.5);
      margin-bottom: 0;
      color: white;
      padding: 3px 5px;
    }
    .bookmark-color {
      text-shadow: 1px 1px 1px #424856;
      font-size: 20px;
      @include position(left, 10px, top, -2px);
      @include transition(all 0.3s ease);
    }
    &.active {
      .bookmark-color {
        @include zoom(1.3);
        top: -3px;
      }
    }
  }
}
