.video-list {
  &__row {
    $row-height: 89px;
    height: $row-height;
    @include spaces(0, 0 0 4px 0);
    background-color: white;
    @include border(#eaeaea);
    display: block;
    border-radius: 5px;
    @include transition(all 0.3s ease-out);
    overflow: hidden;
    position: relative;
    &:hover {
      text-decoration: none;
      background-color: #eeeeee;
    }
    .poster {
      padding: 0;
      height: $row-height;
      //background-color: #eeeeee;
      & > a {
        display: block;
        position: relative;
        overflow: hidden;
        @include size(116px, $row-height);
        // &:before {
        //   content: "";
        //   @include size(40px, 40px);
        //   @include position(left, 50%, top, 50%);
        //   margin-left: -20px;
        //   margin-top: -20px;
        //   background: url("/images/icons/player-blue.png") no-repeat;
        // }
        img {
          @include size(116px, auto);
        }
      }
      @include respond-to(max-width, 1190px) {
        display: none;
      }
    }
    .video-list__body {
      display: block;
      text-decoration: none;
      .media-body {
        padding: 8px 15px 8px 15px;
        .title {
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 8px;
          @include font-style(12px, $grey-dark);
        }
        .description {
          @include font-style(12px, $grey-light);
          text-transform: uppercase;
          margin-top: 0;
        }
        .video-time {
          @include font-style(12px, $coloured, 500);
          text-transform: uppercase;
        }
      }
    }
    .video-list__buttons {
      @include position(right, 22px, top, 22px);
    }
  }
}
