.search-form {
  @include spaces(0, 0);
  .input-group {
    &.radius-25 {
      border-radius: 25px;
    }
    border-radius: 2px;
    padding: 0px 3px;
    background-color: white;
    @include box-shadow(0 0 0 1px #dee1e5);
    .input-group-btn {
      .btn {
        @include font-style(16px, $light);
        .fa {
          color: $mainColor;
        }
      }
    }
    .form-control {
      height: 40px;
      border: none;
      @include box-shadow(none);
      background-color: transparent;
    }
  }
}
