.breadcrumb-bar {
  @include border(#eaeaea, 1px, bottom);
  padding: 13px 20px 0;
  background-color: white;
  height: 49px;
  .section-title {
    @include font-style(21px, #424856, 300, 21px);
    margin: 0;
  }
}
