.breadcrumb-bar {
  //@include border(#eaeaea, 1px, bottom);
  padding: 15px 20px 14px;
  background-color: #eef7ff;
  //height: 49px;
  .section-title {
    @include font-style(21px, #424856, 300, 21px);
    margin: 0;
  }
}
