.main-nav {
  margin: 25px 0;
  &__tab {
    color: white;
    text-transform: uppercase;
    @include transition(all 0.3s ease-out);
    padding: 15px 20px !important;
    &:hover, &:focus {
      background-color: darken($light, 10%) !important;
      color: white;
      border-radius: 0;
    }
    &:focus {
      .main-nav__icon {
        color: $mainColor;

      }
    }
  }
  &__icon {
    width: 20px;
    color: #213147;
  }
  &__voice {
    padding: 0 10px;
  }
  &__arrow {
    font-size: 11px;
  }
  li.active {
    .main-nav__tab {
      background-color: darken($dark, 2%);
      border-radius: 0;
      &:hover {
        background-color: darken($dark, 2%) !important;
      }
      .main-nav__icon {
        color: $mainColor;
      }
    }
    .sub-nav {
      display: block;
    }
  }
}

.sub-nav {
  padding-left: 26px;
  padding-right: 26px;
  background-color: $light;
  & > .nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__tab {
    color: white;
    //text-transform: uppercase;
    @include transition(all 0.3s ease-out);
    padding: 7px 23px !important;
    @include border($dark, 2px, left);
    &:hover, &:focus {
      background-color: transparent !important;
      color: white;
      text-decoration: none;
      border-color: $mainColor;
    }
  }
  li.active {
    .sub-nav__tab {
      background-color: transparent;
      color: white;
      border-color: $mainColor;
    }
  }
}
