.main-nav {
  margin: 25px 15px;
  &__tab {
    color: #828282;
    text-transform: uppercase;
    @include transition(all 0.3s ease-out);
    &:hover, &:focus {
      background-color: transparent !important;
      color: white;
      text-decoration: none;
    }
  }
  &__icon {
    width: 20px;
  }
  &__voice {
    padding-left: 10px;
    padding-right: 5px;
  }
  li.active {
    .main-nav__tab {
      background-color: transparent;
    }
  }
}

.sub-nav {
  margin-left: 55px;
  &__tab {
    color: #828282;
    text-transform: uppercase;
    @include transition(all 0.3s ease-out);
    padding: 0 0 7px 0 !important;
    &:hover, &:focus {
      background-color: transparent !important;
      color: white;
      text-decoration: none;
    }
  }
  &__icon {
    // width: 20px;
    font-size: 10px;
  }
  &__voice {
    padding-left: 10px;
    padding-right: 5px;
  }
  li.active {
    .sub-nav__tab {
      background-color: transparent;
      color: white;
    }
  }
}
