.main-container {
  @include spaces(0, 100px 0 0);
  background-color: #f1f1f1;
  height: 100%;
  position: relative;
  z-index: 2;
  &.middle {
    padding-top: 180px;
  }
  // &.with-bg{
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  //   @include gradient-vertical(#FFA534, rgba(236, 22, 87, 0.6), 0%, 150%);
  // }
  &.centered{
    @include respond-to(min-width, 768px) {
      margin-left: 260px;
    }
  }
  .wrap {
    padding: 25px 15px;
  }
}

// isotope style
.grid-item {
  width: 25%;
  &--width2 {
    width: 50%;
  }
}
