#wrapper {
  padding-left: 250px;
  margin-top: 15px;
  // add style for footer fixting
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 40px;
  &:after {
    content: "";
    display: block;
    height: 40px;
  }
}

#sidebar-wrapper {
  @include position(left, 0, top, 65px, fixed);
  @include size(250px, 100%);
  z-index: 1000;
  overflow-y: auto;
  @include gradient-vertical($light, $dark, 0%, 100%);
}

body {
  &.edit-layout {
    .breadcrumb-bar {
      padding-top: 30px;
    }
    #wrapper {
      padding-right: 409px;
      padding-left: 0;
      margin-top: 0;
    }
    #page-footer {
      padding-left: 0;
    }
  }
}



#page-content-wrapper {
  padding: 0px;
  position: relative;
}

#page-footer {
  height: 40px;
  @include font-style(12px, #5e6060);
  text-align: left;
  padding-left: 250px;
}

.main-container {
  // margin: 30px 0;
  padding: 20px;
}
