#wrapper {
  position: relative;
  padding-left: 250px;
  padding-top: 55px;
  //padding-bottom: 40px;
  //margin-top: 15px;
  // add style for footer fixting
  min-height: 100%;
  /* equal to footer height */
  //margin-bottom: 40px;
  // @include respond-to(min-width, 971px) {
  //   &:after {
  //     content: "";
  //     display: block;
  //     height: 40px;
  //   }
  // }
}

#sidebar-wrapper {
  @include position(left, 0, top, 55px, fixed);
  @include size(250px, 100%);
  z-index: 1000;
  overflow-y: auto;
  //@include gradient-vertical($light, $dark, 0%, 100%);
  background-color: $dark;
}

#page-content-wrapper {
  // padding: 0px;
  position: relative;
}

#page-footer {
  // height: 40px;
  @include font-style(12px, #5e6060);
  // text-align: left;
  position: absolute;
  left: 250px;
  //@include position(left, 250px, bottom, 0);
  right: 0;
  width: 100%;
  padding: 10px;
  display: none;
}

.main-container {
  padding: 20px;
}

body {
  .edit-layout {
    height: 100%;
    min-width: $minWidthPage;
    @include respond-to(min-width, 971px) {
      overflow: hidden;
    }
    .main-container {
      //padding: 40px;
    }
    #sidebar-wrapper {
      @include transition(all 0.5s ease);
      @include translate(-100%, 0);
      top: 103px;
    }
    .breadcrumb-bar {
      // position: fixed;
      // right: 0;
      // left: 0;
      // z-index: 5;
      min-width: $minWidthPage;
      background-color: #f6f8f8;
      @include border(#dce0e6, 1px, bottom);
    }
    #wrapper {
      //padding-right: $sidebar-video-edit-width - 100px;
      padding-left: 0;
      padding-top: 103px;
      position: relative;
      margin-bottom: 0;
      @include transition(all 0.5s ease);
      &.toggled {
        #sidebar-wrapper {
          //width: 250px;
          @include translate(0, 0);
        }
      }
      @include respond-to(min-width, 971px) {
        padding-right: $sidebar-video-edit-width;
        margin-top: 103px;
        padding-top: 0;
      }
    }
    #page-footer {
      padding-left: 0;
      display: none;
    }
    #page-content-wrapper {
      // overflow-y: scroll;
      // height: 100%;
      // margin-right: $sidebar-video-edit-width;
      // padding-bottom: 100px;
      // position: absolute;
      // left: 0;
      // right: 0;
      // top: 0;
      // bottom: 0;

      // @include respond-to(max-width, 970px) {
      //   margin-right: ($sidebar-video-edit-width - 100px);
      // }
      @include respond-to(max-width, 970px) {
        width: 66.66667%;
        float: left;
      }
      @include respond-to(min-width, 971px) {
        overflow-y: auto;
        height: 100%;
        margin-right: $sidebar-video-edit-width;
        padding-bottom: 100px;
        @include position(left, 0, top, 0);
        right: 0;
        bottom: 0;
      }
    }
  }
}
