.topbar {
  // background-color: white;
  background-color: #3e4358;
  @include box-shadow(0px 2px 3px rgba(63,65,72,0.18));
  //padding: 15px 0;
  //height: 65px;
  .navbar-brand {
    @include spaces(23px 13px, 0 20px 0 0);
    @include size(250px, 65px);
    background-color: $mainColor;
    color: white;
    &:hover {
      color: white;
    }
  }
  .navbar-button {
    border: 0;
    background-color: transparent;
    padding: 8px 10px;
    margin-top: 13px;
    display: inline-block;
    .fa, .icon-bar {
      @include transition(color 0.3s ease);
      color: #dce0e6;
    }
    &:hover {
      .fa, .icon-bar {
        color: $mainColor;
      }
    }
  }
}
