.top-navbar {
  background-color: rgba(255,255,255,0.97);
  @include box-shadow(0 1px 5px rgba(0,0,0,0.18));
  border: none;
  padding: 30px 15px;
  height: 100px;
  &.navbar-fixed-top {
    left: 0;
    @include respond-to(min-width, 769px) {
      padding-left: 265px;
    }
  }
  .navbar-brand {
    padding: 0 15px;
    height: auto;
    margin-top: 10px;
    @include font-style(22px, #4a4a4a !important);
  }
  .navbar-toggle {
    background-color: #69c0af;
    border-radius: 0;
    border: none;
    @include transition(all 0.3s ease-out);
    @include spaces(10px 15px, 0 10px 0 0);
    .fa, .icon-bar {
      color: white;
    }
  }
}
