.topbar {
  background-color: white;
  @include box-shadow(8px 10px 12px rgba(63,65,72,0.18));
  padding: 15px 0;
  .navbar-brand {
    @include spaces(0, 0 40px 0 0);
  }
  .navbar-button {
    border: 0;
    background-color: transparent;
    padding: 8px 10px;
    display: inline-block;
    .fa, .icon-bar {
      color: #dce0e6;
    }
  }
}
