.user {
  padding: 25px;
  //background: rgba(255,255,255,0.05);
  background: #67717a;
  position: relative;
  height: 100px;
  &.internal {
    color: #333333;
    font-weight: 300;
    height: auto;
    .user__name {
      @include font-style(22px, #333333);
    }
    .user__lightext {
      color: #9A9A9A;
    }
    .user__avatar {
      @include size(150px, 150px);
      border-color: #EEEEEE;
      margin: 0 auto;
    }
    .user__info {
      position: static;
      text-align: center;
      padding: 0;
    }
  }
  &__avatar {
    @include size(50px, 50px);
    border-radius: 50%;
    overflow: hidden;
    @include border(rgba(255, 255, 255, 0.3), 2px);
    img {
      width: 100%;
    }
  }
  &__info {
    padding: 40px 15px 0 90px;
    color: white;
    font-size: 15px;
    //font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
  }
}
