.user-avatar {
  text-align: center;
  margin: 5px 15px;
  &__button {
    display: block;
  }
  &__photo {
    img {
      @include size(45px, 45px);
      border-radius: 50%;
    }
  }
  &__name {
    margin: 0 15px;
    color: #707a82;
    i {
      @include font-style(15px, #707a82, 400, 45px);
      margin-left: 8px;
    }
  }
  .dropdown-menu {
    padding: 0;
    border-radius: 0;
    width: 100%;
    border: 0;
  }
}
