$btn-succes: #ff9510;
$btn-primary: #69c0af;

.btn {
  //font-weight: 300;
  border: none;
  border-radius: 0;
  @include transition(background-color 0.3s ease-out);
  &:hover {
    z-index: 0 !important;
  }
  &-success {
    background-color: $btn-succes;
    &:hover, &:focus, &:active {
      background-color: lighten($btn-succes, 10%) !important;
    }
  }
  &-primary {
    background-color: $btn-primary;
    &:hover, &:focus, &:active {
      background-color: lighten($btn-primary, 10%) !important;
    }
  }
  &-xs {}
  &-sm {}
  &-md {
    padding: 10px 25px;
  }
  &-lg {
    min-width: 180px;
    font-size: 15px;
  }
  &-xl {}
  &.icon-left, &.icon-right {
    padding: 0;
    i {
      padding: 15px;
      background-color: #dee1e5;
    }
    span {
      padding: 10px;
      min-width: 160px;
      display: inline-block;
    }
  }
}
