html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  background-color: #F5F5F5;
  // background-color: red;
  -webkit-font-smoothing: antialiased;
}

.center-block {
  float: none;
}

.navbar-brand {
  height: auto;
}

::-webkit-input-placeholder {
  font-weight: 400;
}

::-moz-placeholder {
  font-weight: 400;
}

.mgv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mgv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mgv15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mgv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mgv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.space-top {
  margin-top: 30px;
}

.space-bottom {
  margin-bottom: 30px;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.header-text{
  color: white;
  &__title {
    font-weight: 400;
  }
  &__subtitle {
    font-weight: 300;
  }
  &__separator {
    opacity: 0.3;
  }
}
