.pagination {
  & > li:first-child > a {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  & > li:last-child > a {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  & > .active > a {
    border-color: #dddddd;
    background-color: $mainColor;
    &:hover {
      border-color: inherit;
      background-color: darken($mainColor, 10%);
    }
  }
  & > li > a, & > li > span {
    padding: 8px 15px;
    color: black;
    @include transition(all 0.3s ease-out);
  }
}
