.thumb_libraryitem {
  position: relative;
  margin-bottom: 30px;
  @include border(white, 4px);
  & > img {
    width: 100%;
  }
  .btn-group {
    display: none;
    @include position(right, 0, bottom, 0);
  }
  &:hover {
    .btn-group {
      display: block;
    }
  }
}
