<div class="p-all-side-30">
  <%= render @view_module, "title.html", video: @video, conn: @conn %>
  <div class="row">
    <%= render @view_module, "video.html", video: @video, conn: @conn %>
    <%= render @view_module, "reveal_slider_with_description.html", video: @video, slides: @video.slides, conn: @conn %>
  </div>
</div>
<%= render @view_module, "owl_slider.html", video: @video, slides: @video.slides, conn: @conn %>
