<%= if @video.layout.show_slider do %>
  <div class="p-all-side-30 bg-grey">
    <div id="owl-slider" class="owl-carousel">
      <%= render_many @slides, @view_module, "owl_slide.html", as: :slide, conn: @conn %>
    </div>
  </div>
<%= end %>
