<div class="col-sm-<%= @view_module.video_column_size(@video.layout) %> pb-10">
  <div class="video-player-watch" data-url="<%= @video.url %>" data-type="" data-video-id="">
  </div>
  <%= raw @view_module.render_video_description(@video) %>
</div>
