<div class="col-sm-<%= @view_module.video_column_size(@video.layout) %> phorizontal-0 pb-10">
  <div class="video-player-watch" data-url="<%= @video.url %>" data-type="" data-video-id="">
  </div>
</div>
