.user-avatar {
  text-align: center;
  margin: 5px 15px;
  &__button {
    display: block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  &__photo {
    img {
      @include size(45px, 45px);
      border-radius: 50%;
    }
  }
  &__name {
    // margin: 0 15px;
    margin: 0 5px 0 15px;
    color: #707a82;
    i {
      @include font-style(15px, #707a82, 400, 45px);
      margin-left: 8px;
    }
  }
  .dropdown {
    &-menu {
      // background-color: #f5f5f5;
      margin-top: 12px;
      padding: 0;
      border-radius: 0;
      width: 100%;
      border: 0;
      &:before {
        @include arrow(10px, up, white);
        display: block;
        content: "";
        @include position(right, 10px, top, -10px);
      }
      & > li {
        @include border(#f5f5f5, 1px, bottom);
        & > a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        &:last-child {
          border: 0;
        }
      }
    }
  }
}
